body {
    background-color: #f8f9fa;
}

.table th, .table td {
    vertical-align: middle;
}

.form-control, .form-select {
    max-width: 300px;
}

.btn-sm {
    margin-right: 5px;
}

.bg-dark-purple {
    background-color: #4B0082 !important; /* Темний фіолетовий */
    color: white;
}

/* Опціонально: Стилі для випадаючого меню */
.dropdown-menu {
    min-width: 150px; /* Мінімальна ширина випадаючого меню */
}

/* Опціонально: Додаємо відступи для пунктів меню */
.navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
}

/*CSS keyframes для створення ефекту подвійного мигання*/

@keyframes doubleBlink {
    0% { color: inherit; }
    20% { color: #dc3545; }
    40% { color: inherit; }
    60% { color: #dc3545; }
    80% { color: inherit; }
    100% { color: inherit; }
}

.double-blink {
    animation: doubleBlink 1.2s ease;
}

/*mass sending 2*/
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
}
.row .card button {
    width: 100%;
    margin-bottom: 10px;
}
.serial-suggestions.show {
    display: block;
}
.serial-suggestions {
    word-break: break-word;
    white-space: normal;
    overflow-x: hidden;
}
.serial-suggestions .dropdown-item {
    white-space: normal;
    overflow-x: hidden;
}