body {
    background-color: #f8f9fa;
}

.table th, .table td {
    vertical-align: middle;
}

.form-control, .form-select {
    max-width: 300px;
}

.btn-sm {
    margin-right: 5px;
}

.bg-dark-purple {
    background-color: #4B0082 !important; /* Темний фіолетовий */
    color: white;
}

/* Опціонально: Стилі для випадаючого меню */
.dropdown-menu {
    min-width: 150px; /* Мінімальна ширина випадаючого меню */
}

/* Опціонально: Додаємо відступи для пунктів меню */
.navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
}