body {
    background-color: #f8f9fa;
}

.table th, .table td {
    vertical-align: middle;
}

.form-control, .form-select {
    max-width: 300px;
}

.btn-sm {
    margin-right: 5px;
}

.bg-dark-purple {
    background-color: #4B0082 !important; /* Темний фіолетовий */
    color: white;
}