<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Локальний CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Облік картриджів</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('mass_input') }}">Обробка</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Звіти
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownReports">
                                <li><a class="dropdown-item" href="{{ url_for('report_period') }}">Звіт за період</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('cartridge_movement_all') }}">Звіт про видачу картриджів (по відділах)</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('cartridge_movement_models') }}">Звіт про видачу картриджів (по моделях)</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('cartridge_distribution_by_dept') }}">Звіт про видачу картриджів підрозділам в розрізі моделей</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRefs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Довідники
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownRefs">
                                <li><a class="dropdown-item" href="{{ url_for('cartridges') }}">Картриджі</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('equipments') }}">Принтери</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('printer_models') }}">Моделі принтерів</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('cartridge_models') }}">Моделі картриджів</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('refill_depts') }}">Відділи</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('contracts') }}">Договори</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('contract_services') }}">Послуги договорів</a></li>
                                {% if current_user.role == 'admin' %}
                                    <li><a class="dropdown-item" href="{{ url_for('users') }}">Користувачі</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStats" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Статистика
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownStats">
                                <li><a class="dropdown-item" href="{{ url_for('cartridge_status') }}">Події обробки</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('event_log') }}">Логи</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Вийти</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Увійти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <!-- Локальний JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>